.idea/
node_modules/
test/antora/.cache/
test/antora/public/
*.tgz

# lfet based files
*_log_*_console.txt
*_log_*_ti.gtd.txt
*_log_*_rseq_nex.txt
*_log_*_check.txt

*.lfet.*.$bak
*.lfet_$temp

reports/
